<h1><%= @restaurant.name  %> </h1>
<p> <%= @restaurant.category %> </p>
<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.phone_number %> </p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
        <%= review.rating %> - <%= review.comment %>
    </li>
  <% end %>
    <li>
      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating %>
        <%= f.submit 'post my comment' %>
      <% end %>
    </li>
</ul>

<p> <%= link_to "Home", restaurants_path %> </p>
